@import "tailwindcss";

@theme {
    --color-aquamarine-50: #e9fff9;
    --color-aquamarine-100: #cbffed;
    --color-aquamarine-200: #9bffe1;
    --color-aquamarine-300: #48f9cf;
    --color-aquamarine-400: #1cebc1;
    --color-aquamarine-500: #00d3ac;
    --color-aquamarine-600: #00ac8c;
    --color-aquamarine-700: #008a75;
    --color-aquamarine-800: #006d5d;
    --color-aquamarine-900: #00594e;
    --color-aquamarine-950: #00322d;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out;
}
